* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
 
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    gap: 20px;
}
 
.block {
    width: 200px;
    height: 200px;
    background-color: #3498db;
}
 
.square {
    width: 200px;
    height: 200px;
    background-color: black;
}
 
.blokje{
    width: 200px;
    height: 200px;
    background-color: gold;
}
 
.kutu{
    width: 200px;
    height: 200px;
    background-color: red;
}